{% set importmap = 'admin' %}
{% extends 'base.html.twig' %}

{% block title %}Admin Manage{% endblock %}

{% block stylesheets %}
button {
    font-size: 8vh;
    font-weight: bold;
    height: 12vh;
    width: 96vw;
}
{% endblock %}

{% block body %}
    <button id="reset" type="button">reset</button>
{% endblock %}
