<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
        <meta name="msapplication-TileColor" content="#000000">
        <meta name="theme-color" content="#000000">
        <title>Buzzer - {% block title %}{% endblock %}</title>
        <style>{% block stylesheets %}{% endblock %}</style>
        {% if app.session.all %}
        <script>
            const socket_host = '{{ web_socket_host }}';
            const socket_port = {{ web_socket_port }};
            const username = '{{ app.session.get('name') }}';
            const color = '{{ app.session.get('color') }}';
        </script>
        {% endif %}
        {% block importmap %}
            {% if importmap is defined and importmap %}{{ importmap(importmap) }}{% endif %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
