{% set importmap = 'client' %}

{% extends 'base.html.twig' %}

{% set username = app.session.get('name') %}
{% set color = app.session.get('color') %}

{% block title %}{{ username }}{% endblock %}

{% block stylesheets %}
{% include 'default/client/font.css' %}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}
body.winner {
    background: rgb(0,102,0);
    background: linear-gradient(90deg, rgba(0,102,0,1) 0%, rgba(64,255,57,1) 100%);
}
body.too-late {
    background: rgb(164,0,0);
    background: linear-gradient(90deg, rgba(164,0,0,1) 0%, rgba(255,34,34,1) 100%);
}
#username {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    letter-spacing: -.08em;
    font-size: 11vh;
    padding: 5px;
    margin-bottom: 20px;
}
#buzzer {
    color: #000000;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    letter-spacing: -.08em;
    width: 100vw;
    font-size: 20vh;
    padding: 5vh 5vh;
    border: none;
    border-radius: 10vh;
    cursor: pointer;
    transition: background-color 0.3s;
}
#buzzer.disabled {
    background: #999;
}
#position {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    letter-spacing: -.08em;
    font-size: 13vh;
    color: #fff;
    visibility: hidden;
}
#username {
    background: -webkit-linear-gradient(130deg, #{{ color }}66 0%, #{{ color }} 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}}
{% endblock %}

{% block body %}
    <h1 id="username">{{ username }}</h1>
    <button id="buzzer" class="buzzer">Buzz</button>
    <h1 id="position">0</h1>
{% endblock %}
