{% set importmap = 'setup' %}
{% extends 'base.html.twig' %}

{% block title %}Set up{% endblock %}

{% block stylesheets %}
{% include 'default/client/font.css' %}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
form {
    width: 70vw;
    display: flex;
    flex-direction: column;
}

input {
    background-color: #fff;
}

input, button {
    font-family: "Inter", sans-serif;
    font-weight: 800;
    letter-spacing: -.08em;
    font-size: 5vh;
    width: 100%;
    height: 10vh;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
}

button {
    background: linear-gradient(113.84deg,#D65831 0%,#D2D631 36.52%,#31D673 71.83%,#315FD6 100%);
    color: #000;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

li {
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    letter-spacing: -.06em;
    font-size: 3vh;
    color: red;
}
{% endblock %}

{% block body %}
    {{ form(form) }}
{% endblock %}
